@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: #0A2640;
  padding-top: 56px;
  padding-bottom: 32px;
}

.header_contaier,
.header_block,
.header_logo,
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_block {
  gap: 40px;
}

.header_item:not(:first-child) {
  margin-left: 40px;
}

.header_link {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.header_btn {
  color: #0A2640;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 24px;
  border: 2px solid #FFF;
  background: #FFF;
}

.header_menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
  display: none;
}

@media screen and (max-width: 768px) {
  .header_nav {
    margin-left: 48px;
  }
}
@media screen and (max-width: 720px) {
  .header_btn,
  .header_nav {
    display: none;
  }
  .header_menu {
    display: block;
  }
  #header {
    padding-top: 48px;
  }
}
.hero {
  background-color: #0A2640;
  padding-top: 32px;
  padding-bottom: 56px;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_content {
  max-width: 567px;
}

.hero_title {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.hero_text {
  color: #F1F1F1;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.hero_btn {
  margin-top: 40px;
}

.btn1 {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #69E6A6;
  background-color: #65E4A3;
  color: #0A2640;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 24px;
}

.btn2 {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

@media screen and (max-width: 885px) {
  .hero_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .hero_btn {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 800px) {
  .hero_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 22px;
  }
  .hero_text {
    font-size: 12px;
    line-height: 20px;
  }
  .hero_btn {
    margin-top: 25px;
  }
  .btn1 {
    padding: 10px 30px;
    border-radius: 28px;
    font-size: 15px;
    line-height: 18px;
  }
  .btn2 {
    padding: 10px 30px;
    border-radius: 28px;
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 650px) {
  .hero_content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .hero_text {
    max-width: 457px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 650px) {
  .btn2 {
    margin-top: 15px;
  }
}/*# sourceMappingURL=main.css.map */