@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans:wght@400;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background-color: #0A2640;
  padding-top: 56px;
  padding-bottom: 32px;
}

.header_contaier,
.header_block,
.header_logo,
.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_block {
  gap: 40px;
}

.header_item:not(:first-child) {
  margin-left: 40px;
}

.header_link {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.header_btn {
  color: #0A2640;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 40px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 24px;
  border: 2px solid #FFF;
  background: #FFF;
}

.header_menu {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
  display: none;
}

@media screen and (max-width: 768px) {
  .header_nav {
    margin-left: 48px;
  }
}
@media screen and (max-width: 720px) {
  .header_btn,
  .header_nav {
    display: none;
  }
  .header_menu {
    display: block;
  }
  #header {
    padding-top: 48px;
  }
}
.hero {
  background-color: #0A2640;
  padding-top: 32px;
  padding-bottom: 56px;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero_content {
  max-width: 567px;
}

.hero_title {
  color: #FFF;
  max-width: 567px;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.hero_text {
  color: #F1F1F1;
  max-width: 567px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}

.hero_btn {
  margin-top: 40px;
}

.btn1 {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #69E6A6;
  background-color: #65E4A3;
  color: #0A2640;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-right: 24px;
}

.btn2 {
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

@media screen and (max-width: 885px) {
  .hero_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .hero_btn {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 800px) {
  .hero_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_title {
    font-size: 35px;
    line-height: 45px;
    margin-bottom: 22px;
  }
  .hero_text {
    font-size: 12px;
    line-height: 20px;
  }
  .hero_btn {
    margin-top: 25px;
  }
  .btn1 {
    padding: 10px 30px;
    border-radius: 28px;
    font-size: 15px;
    line-height: 18px;
  }
  .btn2 {
    padding: 10px 30px;
    border-radius: 28px;
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 650px) {
  .hero_content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
  .hero_text {
    max-width: 457px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 650px) {
  .btn2 {
    margin-top: 15px;
  }
}
.market {
  margin-bottom: 84px;
}

.market_title {
  color: #000;
  max-width: 842px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;
}

.market_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.market_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.market_inner-title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.market_text {
  color: #777;
  max-width: 293px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.market_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market_inner-text {
  text-align: center;
  max-width: 170px;
  color: #0A2640;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.market_inner-text::after {
  content: "";
  width: 24px;
  height: 26px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-left: 12px;
  background-repeat: no-repeat;
  background-image: url("../img/market-arrow.svg");
  background-position: right 4px;
}

@media screen and (max-width: 958px) {
  .market {
    margin-bottom: -84px;
  }
  .market_title {
    max-width: 700px;
    font-size: 44px;
    line-height: 60px;
  }
  .market_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .market_passive {
    display: none;
  }
}
@media screen and (max-width: 685px) {
  .market_title {
    max-width: 500px;
    font-size: 34px;
    line-height: 44px;
  }
}
#customer {
  margin-top: 185px;
}

.customer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

.customer_title {
  color: #000;
  max-width: 493px;
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 40px;
}

.customer_list {
  margin-bottom: 56px;
}

.customer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 450px;
  padding-bottom: 24px;
}

.customer_item::before {
  content: "";
  width: 36px;
  height: 36px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-right: 27px;
  background-repeat: no-repeat;
  background-image: url("../img/check.svg");
}

.customer_text {
  color: #000;
  max-width: 387px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.customer_link {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 56px;
  border: 2px solid #0A2640;
  background-color: #0A2640;
}

@media screen and (max-width: 1021px) {
  .customer_container {
    margin-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
}
@media screen and (max-width: 529px) {
  .customer_title {
    max-width: 430px;
    font-size: 32px;
    line-height: 45px;
  }
  .customer_text {
    max-width: 344px;
    font-size: 18px;
    line-height: 32px;
  }
  .customer_list {
    margin-bottom: 20px;
  }
  .customer_link {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 25px;
  }
}
.website {
  background-color: #0A2640;
  padding-top: 90px;
  padding-bottom: 96px;
}

.website_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 56px;
}

.website_arrows::after {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  margin-left: 28px;
  background-repeat: no-repeat;
  background-image: url("../img/web-arrow-left.svg");
  background-position: left bottom;
}

.website_arrows::before {
  content: "";
  width: 72px;
  height: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../img/web-arrow-right.svg");
  background-position: right bottom;
}

.website_title {
  color: #FFF;
  max-width: 716px;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.website_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.website_item {
  padding: 40px;
  border-radius: 12px;
  background: #FFF;
}

.website_text {
  max-width: 270px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}

.website_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_text {
  margin-left: 16px;
}

.info_name {
  color: #0A2640;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.info_job {
  color: #0A2640;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 1100px) {
  .website_passive {
    display: none;
  }
}
@media screen and (max-width: 972px) {
  .website_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .website_arrows {
    margin-top: 20px;
  }
  .website_item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 760px) {
  .website_title {
    max-width: 600px;
    font-size: 40px;
    line-height: 60px;
  }
  .website_text {
    max-width: 250px;
    font-size: 17px;
    line-height: 34px;
  }
}
.last {
  margin-top: 124px;
  margin-bottom: 84px;
}

.last_container {
  width: 1200px;
  border-radius: 12px;
  background-color: #0A2640;
}

.last_title {
  color: #FFF;
  max-width: 716px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  margin: 0 auto;
  padding-top: 72px;
}

.last_btn {
  max-width: 609px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 74px;
}

.last_text1 {
  border-radius: 240px;
  border: 2px solid #FFF;
  background-color: #FFF;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 12px 158px 12px 32px;
}

.last_text2 {
  border-radius: 56px;
  border: 2px solid #65E4A3;
  background-color: #65E4A3;
  color: #0A2640;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 56px;
}

.footer {
  margin-top: 100px;
  margin-bottom: 110px;
}

.footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_text {
  max-width: 300px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 40px;
}

.footer_btext {
  max-width: 250px;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 64px;
}

.footer_list_title {
  max-width: 150px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 50px;
}

.footer_inner_link {
  max-width: 150px;
  color: #777;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 25px;
}/*# sourceMappingURL=main.css.map */