.last {
    margin-top: 124px;
    margin-bottom: 84px;
}

.last_container {
    width: 1200px;
    border-radius: 12px;
    background-color: #0A2640;
}

.last_title {
    color: #FFF;
    max-width: 716px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    margin: 0 auto;
    padding-top: 72px;
}

.last_btn {
    max-width: 609px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 74px;
}

.last_text1 {
    border-radius: 240px;
    border: 2px solid #FFF;
    background-color: #FFF;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 12px 158px 12px 32px;
}

.last_text2 {
    border-radius: 56px;
    border: 2px solid #65E4A3;
    background-color: #65E4A3;
    color: #0A2640;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding: 16px 56px;
}

