.market {
    margin-bottom: 84px;
}

.market_title {
    color: #000;
    max-width: 842px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
}

.market_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.market_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.market_inner-title {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.market_text {
    color: #777;
    max-width: 293px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.market_frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.market_inner-text {
    text-align: center;
    max-width: 170px;
    color: #0A2640;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.market_inner-text::after {
    content: "";
    width: 24px;
    height: 26px;
    flex-shrink: 0;
    display: inline-block;
    margin-left: 12px;
    background-repeat: no-repeat;
    background-image: url('../img/market-arrow.svg');
    background-position: right 4px;
}

@media screen and (max-width:958px) {
    .market {
        margin-bottom: -84px;
    }

    .market_title {
        max-width: 700px;
        font-size: 44px;
        line-height: 60px;
    }

    .market_list {
        flex-direction: column;
        align-items: center;
    }

    .passive {
        display: none;
    }

}

@media screen and (max-width:685px) {
    .market_title {
        max-width: 500px;
        font-size: 34px;
        line-height: 44px;
    }
}