.website {
    background-color: #0A2640;
    padding-top: 90px;
    padding-bottom: 96px;
}

.website_top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 56px;
}


.website_arrows::after {
    content: "";
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    display: inline-block;
    margin-left: 28px;
    background-repeat: no-repeat;
    background-image: url('../img/web-arrow-left.svg');
    background-position: left bottom;
}

.website_arrows::before {
    content: "";
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/web-arrow-right.svg');
    background-position: right bottom;
}

.website_title {
    color: #FFF;
    max-width: 716px;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.website_list {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.website_item {
    padding: 40px;
    border-radius: 12px;
    background: #FFF;
}

.website_text {
    max-width: 270px;
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
}

.website_info {
    display: flex;
    align-items: center;
}

.info_text {
    margin-left: 16px;
}

.info_name {
    color: #0A2640;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.info_job {
    color: #0A2640;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

@media screen and (max-width:1100px) {
    .website_passive {
        display: none;
    }

}

@media screen and (max-width:972px) {
    .website_top {
        flex-direction: column;
        align-items: center;
    }

    .website_arrows{     
        margin-top: 20px;
    }

    .website_item {
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width:760px) {
    .website_title{
        max-width: 600px;
        font-size: 40px;
        line-height: 60px;
    }

    .website_text{
        max-width: 250px;
        font-size: 17px;
        line-height: 34px;
    }
    
}